
.message-board{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}


form#message-submit {
  margin: 0 auto !important;
  align-content: center;
  align-self: flex-end;
}

.list-group-item {
  background-color: Rgba(251, 254, 249,0.8);
}

#message-display-name{
  background-color: #698DA0;
  border: none;
  color: white;
}


/* .message-box {
  height: 100%;
} */
.message-header {
  padding: 10px;
  width: 80%;
  font-size: 3rem;
}

.submits {
  margin: 0 auto;

}



#newsuggestion {
  width: 100%;
}

#newsuggestion2 {
  width: 205px;
  margin-bottom: 20px;
  background-color: #88AE9F;
  border: none;
  flex-direction:
}

/* #card-text {
  padding-left: 10px;
  padding-right: 10px;

}

#card-header {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0 0 10px;
} */
