/*
.message-board{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
} */
.list-group-item {
  background-color: Rgba(251, 254, 249,0.8);
}

#message-display-name{
  background-color: #EA6759;
  border-color: #EA6759;
  color: black;
}

h3.message-board {

  margin:30px;
  font-style: bold;
  color: #4C5B5C;
  font-size: 2rem;
  margin-left: 23px;
  margin-right: 23px;
  border-bottom: solid pink 4px;
}

#newsuggestion {
  margin: 10px 0 0 -60px;
  width: 275px;
}

#newsuggestion2 {
  margin: 10px 0 0 -60px;
  width: 205px;
}

#card-text {
  padding-left: 10px;
  padding-right: 10px;

}

#card-header {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0 0 10px;
}
