/*
.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;
}
.jumbotron {
  background-color: white;
  padding-left: 20%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
toggle-form {

} */


.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr;
  background-color: #A3D2DC !important;
  color: #4C5B5C;
}
.tripinfo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 1em;
  background-color: #A3D2DC;
}
.MessageBoard {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 1em;
  background-color: #A3D2DC;

}


.itinerary-row {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #A3D2DC
}



#toggle-form {
  margin-left: 50px;
}

.form {
  margin: 5px 0 0 5px;
}

.label {
  margin-left: 35px;
}

.trip-photo {
  margin-left: 24px;
}

.trip-details {
  margin: 30px;
  margin-left: 24px;
  color: #4C5B5C;
}

h2 {
  margin:30px;
  font-style: bold;
  color: #4C5B5C;
  font-size: 2rem;
  margin-left: 23px;
  margin-right: 23px;
  border-bottom: solid pink 4px;
}

.btn {
  width: 25%;
  align-items: center;
  background-color: #EA6759;
  border-color: #EA6759;
}
