
/* .container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;

}
.jumbotron {
  background-color: white;
  padding-left: 20%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
} */


.label {
  margin-left: 35px;
}

.tripsImage {
  width: 98%;
  margin: auto;
  padding: 2px;
}

h5 {
  margin: 30px;
  color:grey;
  margin-left: 24px;
}

h2 {
  margin:30px;
  font-style: bold;
  color: grey;
  font-size: 2rem;
  margin-left: 23px;
  margin-right: 23px;
  border-bottom: solid pink 1px;
}

.btn-block {
  width: 49%;
  align-items: center;
}

#button1 {
  float: left;
  margin-top: .5rem;
}

#button2 {
  float: right;
}
